
.shaderBox{
    overflow:hidden;
    width:300px;
    height:250px;
    position:absolute;
    z-index:2;
    background-color: black;
    opacity:0;
}

.image1 {
    position: relative;
    /*-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 20s infinite;
    z-index: 1;
}

.image2{
    position:relative;
    z-index: -1;
    animation:mymove2 20s infinite;
    height:250px;
    width:300px;
}

.image3{
    top:100px;
    position: absolute;
    z-index: -2;
    animation:mymove3 20s infinite;
    height:250px;
    width:300px;
}

.image4{
    top:100px;
    position: absolute;
    z-index: -3;
    height:250px;
    width:300px;
}

.image5{
    z-index: 6;
}

.enterAd{
    position: absolute;
    top:0px;
    animation:bigmove 3s;
    animation-fill-mode: forwards;
    width:600px;
    height:600px;
    left:-600px;
    display: none;
    z-index: 5;
}

.closeButton{
    position: absolute;
    width: 24px;
    left: 1014px;
    top: 232px;
    z-index: 8;
    height: 24px;
    cursor: pointer;
}

.closeButton:hover{
    background-color: black;
    opacity: 0.3;
    cursor: pointer;
}

#darkener{
    background:black;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:5;
}

.animateOnAd{
    height: 59px;
    width: 117px;
    left: 453px;
    top: 200px;
    position: absolute;
    z-index: 8;
    text-align: center;
    color: white;
    cursor: default;
}


.animateOnAd:hover{
    background-color: black;
    opacity:.3;
    cursor: pointer;
}

#joinNow{
    display: none;
    animation: growbig 2s;
    animation-fill-mode: forwards;
    position: relative;
    width: 117px;

    z-index: 8;
    height: 59px;
}


@keyframes growbig {
    0% {height:40px;width:60px;}
    100% {height:500px;width:615px;transform:translateY(59px);}
}

@keyframes mymove {
    0%   {}
    25%  {transform:rotate(0deg);opacity: 1;}
    50% {transform: rotate(-90deg);transform-origin: 00% 100%;opacity:0;}
    95% {transform: rotate(0deg);transform-origin: 0% 100%; opacity:0;}
    100%{display:none;}
}

@keyframes mymove2 {
    0%  {}
    50% {transform:rotate(0deg);opacity: 1;}
    75% {transform: rotate(90deg);transform-origin: 100% 100%;opacity:0;}
    95% {transform: rotate(0deg);transform-origin: 0% 100%; opacity:0;}
    100%{display:none;}
}


@keyframes mymove3 {
    0%  {opacity: 1;}
    75% {opacity: 1;}
    76% {opacity: 0.9;}
    77% {opacity: 1;}
    78% {opacity: 0.7;}
    79% {opacity: 1;}
    80% {opacity: 0.5;}
    81% {opacity: 1;}
    85% {opacity: 1;}
    86% {opacity: 0;}
    100%{opacity: 0;}
}

@keyframes bigmove {
    0% {}
    100% {transform: translateX(600px);}
    
}
    