
.enterAd{
    position: absolute;
    top:0px;
    animation:bigmove 3s;
    animation-fill-mode: forwards;
    width:600px;
    height:600px;
    left:-600px;
    display: none;
    z-index: 5;
}

.closeButton{
    position: absolute;
    width: 24px;
    left: 1014px;
    top: 232px;
    z-index: 8;
    height: 24px;
    cursor: pointer;
}

.closeButton:hover{
    background-color: black;
    opacity: 0.3;
    cursor: pointer;
}

#darkener{
    background:black;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:5;
}

.animateOnAd{
    height: 59px;
    width: 117px;
    left: 453px;
    top: 200px;
    position: absolute;
    z-index: 8;
    text-align: center;
    color: white;
    cursor: default;
}


.animateOnAd:hover{
    background-color: black;
    opacity:.3;
    cursor: pointer;
}

#joinNow{
    display: none;
    animation: growbig 2s;
    animation-fill-mode: forwards;
    position: relative;
    width: 117px;

    z-index: 8;
    height: 59px;
}


.shaderBox{
    overflow:hidden;
    width:300px;
    height:250px;
    position:absolute;
    z-index:5;
    background-color: black;
    opacity:0;
}

#bigImage{
    z-index: 6;
}


.image1 {
    position: absolute;
    z-index: 1;
}

.textbackground{
    top: 250px;
    /* left: 8px; */
    position: relative;
    animation: textbgin 40s infinite;
    z-index: 2;
}

.bluetext{
    opacity: 0;
    position:relative;
    animation: textflashin 40s infinite;
    z-index:3;
}

.videomessage{
    height:2px;
    width:2px;
    animation:videomessage 40s infinite;
    opacity:0;
}

.videomessage2{
    height:250px;
    width:300px;
    opacity:0;
    animation:videomessage2 40s infinite;
}

.watchdogstitle{
    top:-60px;
    position:relative;
    animation:watchdogstitle 40s infinite;
}

.playstation{
    top:40px;
    position:relative;
    animation:playstation 40s infinite;
}

.hackingweapon{
    left:175px;
    position:relative;
    animation:hackingweapon 40s infinite;
}

.rollover2{
    opacity:0;
    position:relative;
    animation: rollover2 40s infinite;
}

.preordernow{
    opacity:0;
    position:relative;
    animation: preordernow 40s infinite;
}

.gamecase{
    opacity:0;
    position:relative;
    animation: gamecase 40s infinite;
}

.rollover{
    opacity:0;
    position:relative;
    animation: rollover 40s infinite;
}

@keyframes rollover{
    0%{}
    75%{opacity:0;}
    82%{opacity:1;}
    97%{transform:translateY(0px);}
    99%{transform:translateY(250px);}
    100%{opacity:1;transform:translateY(250px);}
}

@keyframes gamecase{
    0%{}
    75%{opacity:0;}
    82%{opacity:1;}
    97%{transform:translateY(0px);}
    99%{transform:translateY(250px);}
    100%{opacity:1;transform:translateY(250px);}
}

@keyframes preordernow{
    0%{}
    75%{opacity:0;}
    82%{opacity:1;}
    97%{transform:translateY(0px);}
    99%{transform:translateY(250px);}
    100%{opacity:1;transform:translateY(250px);}
}



@keyframes rollover2{
    0%{}
    56%{opacity:0;}
    59%{opacity:1;}
    74%{opacity:1;}
    75%{opacity:0;}
}

@keyframes watchdogstitle{
    0%{}
    46%{transform:translateY(0px);}
    50%{transform:translateY(60px);}
    74%{opacity:1;}
    75%{opacity:0;}
    100%{transform:translateY(60px);opacity:0;}
}


@keyframes playstation{
    0%{}
    50%{transform:translateY(0px);}
    54%{transform:translateY(-40px);}
    74%{opacity:1;}
    75%{opacity:0;}
    100%{transform:translateY(-40px);opacity:0;}
}


@keyframes hackingweapon{
    0%{}
    54%{transform:translateX(0px);}
    58%{transform:translateX(-175px);}
    74%{opacity:1;}
    75%{opacity:0;}
    100%{transform:translateX(-175px);opacity:0;}
}

@keyframes videomessage{
    0%{}
    25%{height:2px;width:2px;opacity:0;}
    28%{height:250px;width:300px;opacity:1;}
    30%{height:250px;width:300px;opacity:1;}
    31%{opacity:0;}
}

@keyframes videomessage2{
    0%{}
    30%{opacity:0;}
    31%{opacity:1;}
    48%{height:250px;width:300px;opacity:1;}
    50%{height:200px;width:240px;transform:translateX(-30px) translateY(20px);}
    74%{height:200px;width:240px;opacity:1;}
    75%{opacity:0;transform:translateX(-30px) translateY(20px);}
    
}

@keyframes textbgin{
    0% {}
    10%{transform:translateY(-250px);}
    25%{transform:translateY(-250px);}
    27%{transform: translateY(250px);}
    100%{}
}

@keyframes textflashin{
    0%,10% {opacity: 0}
    11% {opacity: 0.5;}
    12%,13% {opacity: 0;}
    14% {opacity: 0.5;}
    15% {opacity: 0;}
    16%,24% {opacity: 1;}
    25% {opacity: 0;}
    100%{}
}

@keyframes growbig {
    0% {height:40px;width:60px;}
    100% {height:500px;width:615px;transform:translateY(59px);}
}

    
@keyframes bigmove {
    0% {}
    100% {transform: translateX(600px);}
    
}
    